:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#deea5a;
  text-shadow: 0 0.1em #050958aa;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #dd1515;
  }
  button {
    background-color: #f9f9f9;
  }
  .static:hover {
    opacity: 0;
  }
}

body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100%;
  margin: 0;
  display: flex;
  color: white; /* Ensures text is visible */
  font-family: Arial, sans-serif;
}
footer {
  width: 100%;
  height: 12rem;
  position: relative; /* or fixed/absolute if needed */
  background-color: #021c4b;
  left: 0;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #000000;
}
p {
  display: inline-block;
  width: 60%;
}
header {
  position: fixed;
  background: #021c4b;
  width: 100%;
  top: 0;
  height: 5rem;
  z-index: 10;
}
header ul {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  gap: 6rem;
  align-items: center;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  filter: drop-shadow(2px 3px 2px #590124);
}
header ul li a{
  color: #b6034b;
  font-weight: 650;
}
.icon {
  position: flex;
  margin-right: 20px;
  margin-left: 20px;
  filter: drop-shadow(0 0 1em #050958aa);
}
ul {
  list-style-type: none;
}
.project {
  width: 500px;
}
.projectList {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10rem;
  grid-template-rows: 600px 1fr;
}
.section {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 7rem;
}
.static {
  position: absolute;
}
#home, #skills, #projects {
  scroll-margin-top: 100px;
}